*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

.counter{
  width: 100%;
  background-color: #000;
  margin-top:1000px;
  margin-bottom:300px;
  color:#fff;
  padding: 50px;
}